/*COMMON*/
body {
    text-align: center;
}

ul {
    list-style-type: none;
}

.small-wrapper {
    max-width: 730px;
    margin: 0 auto;
}

.fa-star {
    display: block;
    font-size: 25px;
    padding-bottom: 20px;
}

.page-button {
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
}

/*HEADER*/
/*nav*/
.nav-top {
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
    text-align: left;
    text-transform: uppercase;
}

.nav-top h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
}

.menu {
    text-align: right;
}

.menu ul li {
    display: inline-block;
    padding-right: 10px;
}

.menu ul li:last-child {
    padding-right: 0;
}

.burger-toggle {
    text-align: right;
}

/*end nav*/

/*jumbotron*/
.jumbotron {
    background-color: #1abc9c;
    color: white;
    text-transform: uppercase;
}

.jumbotron-inside .square {
    background-color: #2c3e50;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.jumbotron-inside h2 {
    font-size: 40px;
    font-weight: 700;
}

.jumbotron-inside p {
    font-size: 14px;
}

/*end jumbotron*/
/*END HEADER*/

/*MAIN*/
/*portfolio*/
.portfolio {
    color: #2c3e50;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.portfolio h2 {
    font-size: 40px;
    font-weight: 700;
}

.portfolio .container>.row>[class*="col-"] {
    height: 200px;
    margin-bottom: 20px;
}

.portfolio .container>.row>[class*="col-"]>[class*="col_"] {
    background-color: #2c3e50;
    height: 100%;
    border-radius: 5px;
}

/*about*/
.about {
    background-color: #1abc9c;
    color: white;
    padding: 30px 0;
}

.about h2 {
    text-transform: uppercase;
}

/*contact me*/
.contact-me {
    color: #2c3e50;
    padding: 30px 0;
}

.contact-me h2 {
    text-transform: uppercase;
}

.contact-me .container-fluid>.row>[class*="col-"] {
    text-align: left;
}

.contact-me .btn {
    text-align: left;
}

/*END MAIN*/

/*FOOTER*/
footer {
    background-color: #3a546d;
    color: white;
    padding-top: 30px
}

.footer-menu {}

.footer-menu .container>.row>[class*="col-"] {
    padding-bottom: 30px;
}

.copyright {
    background-color: #2c3e50;
    padding-top: 30px;
    padding-bottom: 40px;
}

/*END FOOTER*/