/*COMMON*/
ul {
    list-style-type: none;
}

.section-green {
    background-color: #1abc9c;
    color: white;
}

.section-white {
    color: #2c3e50;
}

.section-white h2 {
    color: black;
}

.section-white h3 {
    color: black;
}

.section-padding {
    padding: 40px 0;
}

.section-intro {
    text-align: center;
}

.section-intro h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.small-wrapper {
    width: 80%;
    margin: 0 auto;
}

.star {
    display: block;
    font-size: 25px;
    padding-bottom: 20px;
}

.star::after {}

.page-button {
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
}

/*HEADER*/
/*nav*/
.nav-top {
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
    text-align: left;
    text-transform: uppercase;
}

.nav-top h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
}

.nav-menu ul li {
    display: inline-block;
    padding-right: 10px;
}

.nav-menu ul li:last-child {
    padding-right: 0;
}

.nav-menu a {
    color: white;
}

.burger-toggle {
    font-size: 25px;
}

/*end nav*/


/*banner*/
.avatar {
    width: 200px;
}

#banner p {
    text-transform: uppercase;
}

/*end banner*/
/*END HEADER*/

/*MAIN*/
/*portfolio*/
.box-image img {
    border-radius: 5px;
    margin-bottom: 30px;
}

/*about*/

#about .button-box {
    text-align: center;
}

/*contact me*/
.contact-me {
    color: #2c3e50;
    padding: 30px 0;
}

.contact-me h2 {
    text-transform: uppercase;
}

.contact-me .container-fluid>.row>[class*="col-"] {
    text-align: left;
}

.contact-me .btn {
    text-align: left;
}

/*END MAIN*/

/*FOOTER*/
footer {
    background-color: #3a546d;
    color: white;
    padding-top: 30px
}

.footer-menu {}

.footer-menu .container>.row>[class*="col-"] {
    padding-bottom: 30px;
}

.copyright {
    background-color: #2c3e50;
    padding-top: 30px;
    padding-bottom: 40px;
}

/*END FOOTER*/